
@{
    ViewBag.Title = "Regions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="dirController">
    <span ng-init="setRegions()"></span>
    <div class="well-row ">
        <div class="well row col-md-8">
            <div class="well row col-md-12">
                <p class="h4"><b>Справочник областей</b></p>
            </div>
            
            <table cellpadding="3" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <td width="10%"><b>Код</b></td>
                        <td width="60%"><b>Наименование области</b></td>
                        <td width="30%"><b></b></td>
                    </tr>
                </thead>

                <tr ng-repeat="region in regions">
                    <td>{{region.id}}</td>
                    <td>
                        <input type="text" ng-model="region.name" value={{region.name}} style="width:100%"/>
                    </td>
                    <td>
                        <span ng-click="update(region.id, region.name, $index)" class="btn btn-default">Сохранить</span>
                        <span ng-click="delete(region.id)" class="btn btn-danger">Удалить</span>
                    </td>
                </tr>
            </table>
            <div class="well-row col-md-2">
                <span ng-click="add('Regions',name)" type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
            </div>
        </div>    
    </div>
</div>

