@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
</head>
<div ng-controller="estatesTblController" class="well-span8">
    <div class="well row col-md-24"  style="padding:1em">
        <div class="well-row col-md-4">
            <div cmb-filter title='Выбор менеджера' list="listUser" selectedVar="selectedUser" on-check-all="checkAll('listUser', 'selectedUser')"
                    on-uncheck-all="uncheckAll('selectedUser')" on-select-item="setSelected(id,'selectedUser')"
                    set-check-icon="isChecked(id,'selectedUser')">
            </div>
        </div>
        <div class="well-row col-md-4">
            <div cmb-filter title='Выбор города' list="listCity" selectedVar="selectedCity" on-check-all="checkAll('listCity', 'selectedCity')"
                    on-uncheck-all="uncheckAll('selectedCity')" on-select-item="setSelected(id,'selectedCity')"
                    set-check-icon="isChecked(id,'selectedCity')">
            </div>
        </div>
        <input placeholder="Введите имя менеджера или адрес" type="text" name="id" ng-model="filterModel" class="well-row col-md-8">
    </div>
    <div class="well row col-md-24">
        <div class="well row col-md-24" style="padding:1em">
            <div class="well-row col-md-8">
                <a href="" ng-click="gotoFirstPage()" class="btn btn-default">First page</a>
                <a href="" ng-click="gotoPrevPage()" class="btn btn-default">prev</a>
                <a href="" ng-click="gotoNextPage()" class="btn btn-default">next</a>
                <a href="" ng-click="gotoLastPage()" class="btn btn-default">Last page </a>
            </div>
            <div class="well-row col-md-4" style="float:right">
                <b>
                    Page {{pager.currentPage}} of {{pager.foundPages}}. Total items:  {{pager.found}}
                </b>
            </div>
        </div>
        
        <table cellpadding="12" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th sort-by='user_name'>
                        Manager
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'ID'; sortReverse = !sortReverse">
                            ID
                            <span ng-show="sortType == 'ID' && !sortReverse" class="glyphicon glyphicon-arrow-down"></span>
                            <span ng-show="sortType == 'ID' && sortReverse" class="glyphicon glyphicon-arrow-up"></span>
                        </a>
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Region
                    </th>
                    <th>
                        City
                    </th>
                    <th>
                        Street
                    </th>
                    <th>
                        Floor/Floors
                    </th>
                    <th>
                        Rooms
                    </th>
                    <th>
                        Square
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @*
                    <tr ng-repeat="estate in  filtered = (estates | setFilter:selectedUser:selectedCity) | orderBy:sortType:sortReverse">
                *@
                <tr ng-repeat="estate in filtered = (estates |orderBy:order.header:order.direction| filter: {user_name:prefixModel}|filterByFields:filterModel:['user_name']|customFilter:selectedUser)| pager:pager.currentPage:pager.getOnPage()">

                    <td>
                        {{estate.user_name}}
                    </td>
                    <td>
                        {{estate.id}}
                    </td>
                    <td>
                        {{estate.descr}}
                    </td>
                    <td>
                        {{estate.region}}
                    </td>
                    <td>
                        {{estate.city}}
                    </td>
                    <td>
                        {{estate.street}}
                    </td>
                    <td>
                        {{estate.floor}}/{{estate.floors}}
                    </td>
                    <td>
                        {{estate.rooms}}
                    </td>
                    <td>
                        {{estate.square}}
                    </td>

                    <td>
                        <a href="/Estates/EditEstate/{{estate.id}}" class="btn btn-default">Edit</a>
                        <span ng-click="deleteEstate(estate.id)" class="btn btn-danger">Delete</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="well-row col-md-8">
            <a href="" ng-click="gotoFirstPage()" class="btn btn-default">First page</a>
            <a href="" ng-click="gotoPrevPage()" class="btn btn-default">prev</a>
            <a href="" ng-click="gotoNextPage()" class="btn btn-default">next</a>
            <a href="" ng-click="gotoLastPage()" class="btn btn-default">Last page </a>
        </div>
        <div class="well-row col-md-8">
            <a href="/Estates/EditEstate/" class="btn btn-default">+</a>
        </div>
    </div>
</div>


