@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="estatesTblController" class="well-span8">
    <br />
    <p class="h4">Доступная недвижимость</p>
    <ul class="inline">
        <li>
            <div class="alert alert-info" style="width:300px">
                <h4>Total filtered estates: {{filtered.length}}</h4>
            </div>
        </li>
        <li>
            <div class="btn-group" data-ng-class="{open: open}">
                <button class="btn">filtered by manager</button>
                <button class="btn dropdown-toggle" data-ng-click="open=!open" >
                        <span class="caret"></span>
                    </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu" >
                    <li>
                        <a data-ng-click="checkAll('listUser','selectedUser')"><i class="glyphicon glyphicon-check"></i>  Check All</a>

                    </li>
                    <li>
                        <a data-ng-click="selectedUser=[];"><i class="glyphicon glyphicon-unchecked"></i>  Uncheck All</a>
                    </li>
                    <li class="divider"></li>
                    <li data-ng-repeat="user in listUser"><a data-ng-click="setSelected(user.id,'selectedUser')">{{user.name}}<span data-ng-class="isChecked(user.id,'selectedUser')"></span></a>
                    </li>
                </ul>
            </div>
            <div class="btn-group" data-ng-class="{open: openCity}" >
                <button class="btn">filtered by City</button>
                <button class="btn dropdown-toggle" data-ng-click="openCity=!openCity">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu" >
                    <li>
                        <a data-ng-click="checkAll('listCity','selectedCity')"><i class="glyphicon glyphicon-check"></i>  Check All</a>

                    </li>
                    <li>
                        <a data-ng-click="selectedCity=[];"><i class="glyphicon glyphicon-unchecked"></i>  Uncheck All</a>
                    </li>
                    <li class="divider"></li>
                    <li data-ng-repeat="city in listCity">
                        <a data-ng-click="setSelected(city.id,'selectedCity')">{{city.name}}<span data-ng-class="isChecked(city.id,'selectedCity')"></span></a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <div class="divList">
        <table cellpadding="12" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td>
                        Manager
                    </td>
                    <td>
                        <a href="#" ng-click="sortType = 'ID'; sortReverse = !sortReverse">
                            ID
                            <span ng-show="sortType == 'ID' && !sortReverse" class="glyphicon glyphicon-arrow-down"></span>
                            <span ng-show="sortType == 'ID' && sortReverse" class="glyphicon glyphicon-arrow-up"></span>
                        </a>
                    </td>
                    <td>
                        Description
                    </td>
                    <td>
                        Region
                    </td>
                    <td>
                        City
                    </td>
                    <td>
                        Street
                    </td>
                    <td>
                        Floor/Floors
                    </td>
                    <td>
                        Rooms
                    </td>
                    <td>
                        Square
                    </td>
                    <td>
                        Action
                    </td>
                </tr>
            </thead>
            <tbody>
                @*
                <tr ng-repeat="estate in  filtered = (estates | setFilter:selectedUser:selectedCity) | orderBy:sortType:sortReverse">
                *@
                <tr ng-repeat="estate in itemsByPage[currentPage]">
                
                    <td>
                        {{estate.user_name}}
                    </td>
                    <td>
                        {{estate.id}}
                    </td>
                    <td>
                        {{estate.descr}}
                    </td>
                    <td>
                        {{estate.region}}
                    </td>
                    <td>
                        {{estate.city}}
                    </td>
                    <td>
                        {{estate.street}}
                    </td>
                    <td>
                        {{estate.floor}}/{{estate.floors}}
                    </td>
                    <td>
                        {{estate.rooms}}
                    </td>
                    <td>
                        {{estate.square}}
                    </td>

                    <td>
                        <a href="/Estates/EditEstate/{{estate.id}}" class="btn btn-default">Edit</a>
                        <span ng-click="deleteEstate(estate.id)" class="btn btn-danger">Delete</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul class="pagination pagination-sm">
            <li ng-class="{active:0}">
                <a href="#" ng-click="firstPage()">First</a>
            </li>
            <li ng-repeat="n in range(itemsByPage.length)">
                <a href="#" ng-click="setPage()" ng-bind="n+1">1</a>
            </li>
            <li>
                <a href="#" ng-click="lastPage()">Last</a>
            </li>
        </ul>
</div>
</div>


